@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}
header {
    display: flex;
}
.logo__netflix img {
    margin-top: -15px;
    margin-left: 30px;
    height: 130px;
    width: 200px;
    position: absolute;
}

.imagem-fundo > img {
    position: fixed;
}

.logo-initial {
    height: 1139px;
    width: 100%;
    background: rgba(3, 3, 3, 0.438);
    position: absolute;
}
section {
    justify-content: center;
    text-align: center;
    display: flex;
}

.interface__login {
    background: rgba(3, 3, 3, 0.678);
    height: 660px;
    width: 450px;
    border-radius: 5px;
    position: absolute;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.interface__login h1 {
    display: flex;
    position: absolute;
    margin-top: -410px;
    margin-left: -220px;
    margin-bottom: 28px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
form {
    margin-top: 150px;
}
.login {
    padding: 0px 0px 15px;
    margin-top: 10px;
}
input {
    height: 50px;
    width: 314px; 
    border-radius: 4px;  
    background: #e8f0fe;
    border: 0px;
}
.label-login {
    display: flex;
    justify-content: space-around;
}
.label-login > 
input,
label,
span {
    color: #b3b3b3;
    font-size: 13px;
    padding: 2px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.label-login > span {
    margin-right: -30px;
}

.label-login > label {
    margin-left: -60px;
}
.label-login > input {
    width: 15px;
    height: 15px;
    margin: 2px 0px 0px -25px;
    color: #b3b3b3;
    margin-left: -35px;
}

.btn {
    font-size: 1em;
    font-family: 'Roboto', 'sans-serif';
    width: 314px;
    height: 48px;
    background: #e50914;
    margin: 24px 0px 12px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 700px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    text-align: center;
    border: 0px;
    box-sizing: border-box;
}

.informations {
    display: block;    
    width: 314px;
    height: 216px;
    margin-top: 50px;
}

.info-conect img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.info-conect {
    display: flex;
    justify-content: flex-start;
}

.info-sign {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.informations p {
    color: #737373;
    font-size: 18px;
}

.informations a {
    font-size: 18px;
    font-weight: 500;
    color: #737373;
    cursor: pointer;
    text-decoration: none;
}

.info_finish{
    display: block;
    text-align: left;
    margin-top: 16px;
}

.info_finish span {
    font-size: 13px;
}

.info_finish a {
    color: #0071eb;
    font-size: 13px;
}

footer {
    margin-top: 880px;
    width: 100%;
    height: 259px;
    position: absolute;
    background: rgba(3, 3, 3, 0.678);
}